*.b4a linguist-language=b4x
*.b4i linguist-language=b4x
*.b4j linguist-language=b4x
*.b4r linguist-language=b4x
*.bas linguist-language=b4x
*.b4a linguist-detectable=true
*.b4i linguist-detectable=true
*.b4j linguist-detectable=true
*.b4r linguist-detectable=true
*.bas linguist-detectable=true
